a{
color:black;
text-decoration:none;
}
p{
font-family : Sans-serif, Arial, verdana ;
}
.saw{
color:grey;
}
li{
font-family : Sans-serif, Arial, verdana ;
font-size : 17px;
}
body{
margin:0;
}
H1{
font-family : Arial, Sans-serif, verdana ;
font-size : 30px;
text-align: center;
border-bottom : 1px solid gray;
margin : 0;
padding: 20px;
}
H2{
font-family : Arial, Sans-serif, verdana ;
font-size : 25px;
}
#grid ol{
border-right : 1px solid gray;
width:150px;
margin:0;
padding:20px;
padding-left: 30px;
padding-right: 10px;
}
#grid li{
padding:3px;
}
#grid{
 display: grid;
 grid-template-columns: 200px 1fr;
}
#article{
    padding-left: 20px;
}
@media(max-width:600px){
#grid{
 display: block;
}
#grid ol{
border-right : none;
}
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}